.navbar-nav .nav-link {
    color: rgba(255,255,255,1) !important;
    margin: 0 15px 0 5px;
}

.navbar-nav .nav-link:hover {
    color: rgba(255,255,0,1) !important;
    margin: 0 15px 0 5px;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#0000AA, #AAAAAA);
    color: white;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table {
    background-color: #999999;
}

th {
    color: #FFFFFF;
}
#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

.CoblentzHeader {
    font-size: 40px;
}

.right-margin {
    margin-right: 20px;
}

h2 {
    color: #BAA9FF;
}

h5 {
    color: #FFAAFF;
}

.project-img {
    height: 200px;
    width: 200px;
}

.navbar-lightblue {
    color: #AAAAFF;
}