{% extends "CoblentzNumbers/coblentz_base.html" %}

{% load static %}

{% block content %}
<a class="btn btn-primary" href="{% url 'CoblentzNumbers:all_shifts' %}">Return to Shifts</a>
<h1 class="text-center mt-5" id="shiftdetaildate">{{ shift.date }} {{ shift.shift }}</h1>

<!--<h5 class="text-center text-muted mb-5">{{ shift.date|date:'F jS Y' }}</h5>-->
<br>
{% if error %}
<div class="alert alert-danger" role="alert">
   {{ error }}
</div>
{% endif %}
{% if success %}
<div class="alert alert-success" role="alert" id="clientsuccess">
    {{ success }}
</div>
{% endif %}
<div class="alert alert-danger" role="alert" id="clienterror" style="display: none">

</div>
<table id="myTable" class="table">
    <colgroup>
        <col span="1" style="width: 33%;">
        <col span="1" style="width: 45%;">
        <col span="1" style="width: 22%;">
    </colgroup>
    <tr>
        <th style="text-align:left">Time</th>
        <th style="text-align:left"><div style="padding-left:75px">Count</div></th>
        <th style="text-align:left"><div># in last 15</div></th>
        <th style="text-align:left">Running Average</th>
    </tr>
    {% for key, value in shift.counts_and_averages.items %}
    <tr>
        <td>{{ key }}</td>
        <td><input id="table_{{forloop.counter}}" type="text" value="{{ value.0 }}" onkeydown="textboxFocus(this.id)";"></td>
        <td>{{ value.1 }}</td>
        <td>{{ value.2 }}</td>
    </tr>
    {% endfor %}
</table>
<form id="theForm" method="POST" onsubmit="return submitFunction()">
    {% csrf_token %}
    <div class="form-group">
        <label for="memo"></label>
        <input type="hidden" name="shift" value = "{{ shift.shift }}" class="form-control" id="shift">
        <input type="hidden" name="date" value = "{{ shift.date|date:"Y-m-d" }}" class="form-control" id="date">
        <input type="hidden" name="numbers" value = "2,4,6,8" }}" class="form-control" id="numbers">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>

<script>
   window.onload = function() {
            document.getElementById('theForm').onsubmit = function() {
            var numbers = document.getElementById('numbers');
            numbers.value = "1,1,2,3,5";
            var myOutput = "";
            var table = document.getElementById("myTable");
            var rows = table.getElementsByTagName("tr");
            for (var i = 1; i <= rows.length - 1; i++)
            {
                var cellValue = document.getElementById("table_"+i).value;
                myOutput += cellValue.trim();
                if (i != rows.length - 1)
                {
                    myOutput += ",";
                }
            }
            numbers.value = myOutput;
            alert("My output is " + myOutput);
            document.getElementById("clienterror").style.display = "block"
            //alert(valid_numbers(myOutput));
            result = valid_numbers(myOutput);
            if (result != "Good")
            {
                document.body.scrollTop = document.documentElement.scrollTop = 0;
                return false;
            }
            else
            {
                return true;
            }
        }
   }

   function custNumber(object) {
    // `this` refers to the DOM element
    alert("The object is!!!");
   }

   function textboxFocus(x)
   {
       document.getElementById(x).style.color = "#00CC00";
   }

   function valid_numbers(numbers)
   {
        //alert("validating numbers!");
        // ensure that:
        // 1. every value is a number and/or whitespace, and not counted in the next thing
        // 2. all the *numbers* are strictly ascending (more important that the first point)
        var highestNumber = 0;
        var currentLine = 1;
        var returnValue = 'Good';
        var numberList = numbers.split(",");
        //alert("Length of numberList is " + numberList.length);
        //alert("The numberList is " + numberList);
        //alert("numberList[0] is " + numberList[0]);
        //alert("numberList[1] is " + numberList[1]);
        //alert("numberList[2] is " + numberList[2]);
        //alert("numberList[3] is " + numberList[3]);
        for (var i = 0; i < numberList.length; i++)
        {
            var numberToValidate = numberList[i];
            if (isWhitespaceOrEmpty(numberToValidate) || numberToValidate.length == 0)
            {
                currentLine += 1;
                continue;
            }
            else if (isNumeric(numberToValidate))
            {
                //alert("number is ");
                if (parseInt(numberToValidate) >= highestNumber)
                {
                    highestNumber = parseInt(numberToValidate);
                }
                else
                {
                    //print(f"***highest number is {highestNumber}, current number is {number}, current line is {currentLine}");
                    returnValue = 'Numbers must never be descending! Check line ' + String(currentLine);
                    document.getElementById("clienterror").innerHTML = 'Numbers must never be descending! Check line ' + String(currentLine);
                    document.getElementById("clientsuccess").style.display = "none"
                    document.getElementById("table_" + String(currentLine)).style.color = "#FF0000";
                    break;
                }
            }
            else
            {
                returnValue = 'No non-numeric values allowed! Check line ' + String(currentLine);
                document.getElementById("clienterror").innerHTML = 'No non-numeric values allowed! Check line ' + String(currentLine);
                document.getElementById("clientsuccess").style.display = "none"
                document.getElementById("table_" + String(currentLine)).style.color = "#FF0000";
            }
            currentLine += 1;
        }
        return returnValue;
    }

    function isNumeric(str) {
        if (typeof str != "string") return false // we only process strings!
        return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
             !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
    }

    function isWhitespaceOrEmpty(text) {
        return !/[^\s]/.test(text);
    }
</script>

{% endblock %}
